<!DOCTYPE>
<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.3.2/css/bulma.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>The BEST Ruby ecommerce... EVER!</title>
</head>

<body>
<section class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        The BEST Ruby ecommerce... EVER!
      </h1>
      <h2 class="subtitle">
        We sell good stuff
      </h2>
    </div>
  </div>
</section>


<%= yield %>

</body>
</html>